<h1>Sign In</h1>

<form action="/session" method="post">
  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]">
  <br>

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]">
  <br>

  <input type="submit" value="Sign In">
</form>
<br>

<%= link_to "Reset Password", new_password_reset_url %>