<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset Request for <%= @user.email %></h1>
    <p>
      Please click the link to reset your password:
       <%= link_to("Reset Password", edit_password_reset_url(@user)) %>.<br/>
    </p>

    <p>Thanks and have a great day!</p>
  </body>
</html>